@media all and (min-width: 480px) {
  html,
  body,
  body > div,
  .app {
    /* height: 100%; */
    background-color: rgb(181, 194, 236);
    justify-content: center;
    align-content: center;
    /* flex: 1; */
  }

  .header {
    color: white;
    text-align: center;
    margin-top: 3%;
  }

  .text {
    font-family: Neucha;
    color: white;
    text-align: center;
  }
 
  /*Styling for search bar title and drop down */
  .searchHeader {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    height: 10%;
    border-radius: 2%;
  }

  .homeHeader { /* For home page title and icon */
    width: 80%;
    padding-left: 40%;
}

  .profileButton {
    margin-left: 5%;
    height: 10%;
    width: 25%;
  }

  .profileIcon {
    margin-bottom: 5%;
    margin-right: 7%;
  }

  .item-list{
    margin: 1% 20% 1% 2%;
    padding-left: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: 200px;
  }
  .item-list img {
      width: 250px;
  }
  .item-info-modal {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

}
