@media all and (min-width: 480px) {
  html,
  body,
  body > div,
  .app {
    /* height: 100%; */
    background-color: rgb(181, 194, 236);
    justify-content: center;
    align-content: center;
    /* flex: 1; */
  }

  .header {
    color: white;
    text-align: center;
    margin-top: 3%;
  }

  .text {
    font-family: Neucha;
    color: white;
    text-align: center;
  }
 
  /*Styling for search bar title and drop down */
  .searchHeader {
      background-color: rgb(181, 194, 236);
      margin-left: -20px;
      height: 20%;
      width: 100%;
      border-radius: 2%;

  }

  .homeHeader { /* For home page title and icon */
    width: 80%;
    padding-left: 40%;
}


  .profileIcon {
    margin-bottom: 5%;
    margin-right: 7%;
  }

  .item-list{
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .item-list img{
      height: 200px;
      object-fit: cover;


      background: white;
      align: center;

  }

  .item-list button{
      background-color: rgb(181, 194, 236);
      border: none;

  }

  .item-list .item{

      overflow: hidden;
  }

  .item-list .item img{
      vertical-align: middle;
  }

  .item-list .item-caption{
      margin: 0;
      padding: 1em;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      box-sizing: border-box;
      transition: transform .5s;
      transform: translateY(100%);
      background: rgba(0, 0, 0, .7);
      color: rgb(255, 255, 255);

  }

  .item-list .item:hover .item-caption{
      transform: translateY(0%);
  }


}
