@media all and (min-width: 480px) {
    html,
    body,
    body > div,
    .app{
	background-color: rgb(181, 194, 236);
	justify-content: center;
	alight-content:center;
    }

    .toProfileButton{
	outline: none;
	background-color: transparent;
	border: none;
    }

    .item-info_profile-view{
	color: black;
	width: 300%;
    }
    .item-info_item-view {
	color: white;
    }

    .verticalLine{
	border-left: 2px solid #ffffff;
	width: 100%;
	height: 100%;
	margin-left: 10%;

    }
}
