@media all {
    #entireContainer {
        display: flex;
        justify-content: "space-between";
    }

    .postContainer {
        margin: 5%;
        margin-top: 3%;
        width: 35%;
        background-color: white;
        padding: 2%;
        border-radius: 1%;
    }

    .postDivider {
        margin: 25% 0% 15%;
        border-top: 2px solid darkgray;
        width: 210%;
    }

    #profileContainer { /* Overall profile card, contaiing photo, info, and buttons */
        margin: 3% 5% 1% 5%; /* top right bottom left */
        width: 42%;
    }

    #profilePhoto { /* User's profile photo */
        margin: 5%;
        width: 85%;
    }

    #profileButton { /* Padding for individual edit/log out block button */
        margin-top: 4%;
        margin-bottom: 2%;
    }

    #profileButtons { /* UNUSED Alignment for horizontally spacing edit and log out buttons */
        display: flex;
        flex-direction: vertical;
        justify-content: space-between;
        margin-top: 2%;
        /* background-color: red; for testing purposes*/
    }

    /*Text*/

    .headerContainer {
        align-self: center;
        justify-self: center;
        justify-content: center;
    }

    .headerText { /* White header text */
        font-family: Neucha;
        color: white;
        text-align: center;
    }

    .profileHeader { /* For profile page title and home button */
        width: 80%;
        padding-left: 35%;
        padding: auto;
    }

    .smallerHeaderText { /* White header text */
        font-family: Neucha;
        color: white;
        text-align: center;
        font-size: xx-large;
    }

    .homeButton {
        margin-left: 5%;
    }

    .homeIcon {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .bodyText { /* White body text */
        font-family: Neucha;
        color: black;
        text-align: left;
    }
    
      #title {
        font-family: Neucha;
        font-size: 30px;
      }

    .buttonText { /* Button text for edit/logout buttons */
        color: white;
    }
}