@media all and (min-width: 480px) {
  html,
  body,
  body > div,
  .app {
    /* height: 100%; */
    background-color: rgb(181, 194, 236);
    justify-content: center;
    align-content: center;
    /* flex: 1; */
  }

  .header {
    color: white;
    text-align: center;
    margin-top: 3%;
  }

  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .text {
    font-family: Neucha;
    color: white;
    text-align: center;
  }

  #title {
    font-size: 35px;
  }
}
